<div class = "container">
  <div class = "comics">
    <h1 class= "main-side">Comics </h1>
    <div class ="row">
      <div class = "column">
        <% @comics.each do |comic| %>
          <%= image_tag comic.comiccover.url(:medium) %>
          <% end %>
      </div>
      <div class = "column">
        <% @comics2.each do |comic| %>
          <%= image_tag comic.comiccover.url(:medium) %>
        <% end %>
      </div>
      <div class = "column">
        <% @comics3.each do |comic| %>
          <%= image_tag comic.comiccover.url(:medium) %>
        
        <% end %>
      </div>
    </div>
  </div>

  <div class = "chapters">

    <div class= "row">
      <div class= "column">
        <% @chapters.each do |chapter| %>
          <%= image_tag chapter.chaptercover.url(:medium) %>
        <% end %>
      </div>

      <div class= "column">
        <% @chapters2.each do |chapter| %>
          <%= image_tag chapter.chaptercover.url(:medium) %>
        <% end %>
      </div>

      <div class= "column">
        <% @chapters3.each do |chapter| %>
          <%= image_tag chapter.chaptercover.url(:medium) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class = "arts" >
    <h1>Arts </h1>
    <hr>

    <div class = "row">

      <div class = "column">
        <% @arts.each do |art| %>
          <%= image_tag art.imageart.url(:medium) %>
        <% end %>
      </div>

      <div class = "column">
        <% @arts2.each do |art| %>
          <%= image_tag art.imageart.url(:medium) %>
        <% end %>
      </div>
      <div class = "column">
        <% @arts3.each do |art| %>
          <%= image_tag art.imageart.url(:medium) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
