<div class = "container">

  <div class = "heading-row">
    <div class = "column">
      <h1 class = "main-side">CHAPTERS </h1>
        <p> the newest chapters</p>
    </div>
    <div class = "column"></div>
    <div class = "column"></div>
  </div>

  <div class = "chapters">

    <div class= "row">
      <div class= "column">
        <% @chapters.each do |chapter| %>
        <div class = "comic-tile" >
            <%= link_to comic_chapter_sides_show_path(chapter) do %>
                <%= image_tag chapter.chaptercover.url(:medium) %>
            <% end %>

            <div class = "comic-title">
              <div class= "book-title">
                <% bookId = chapter.comic_book_id %>
                <% book = ComicBook.find_by(id: bookId) %>
                <%= book.title %>
               </div>
              <%= chapter.title.upcase %>
            </div>
        </div>
        <% end %>
      </div>

      <div class= "column">
        <% @chapters2.each do |chapter| %>
          <div class = "comic-tile" >
              <%= link_to comic_chapter_sides_show_path(chapter) do %>
                  <%= image_tag chapter.chaptercover.url(:medium) %>
              <% end %>

              <div class = "comic-title">
                <div class= "book-title">
                  <% bookId = chapter.comic_book_id %>
                  <% book = ComicBook.find_by(id: bookId) %>
                  <%= book.title %>
                 </div>
                <%= chapter.title.upcase %>
              </div>
          </div>
        <% end %>
      </div>

      <div class= "column">
        <% @chapters3.each do |chapter| %>
        <div class = "comic-tile" >
            <%= link_to comic_chapter_sides_show_path(chapter) do %>
                <%= image_tag chapter.chaptercover.url(:medium) %>
            <% end %>

            <div class = "comic-title">
              <div class= "book-title">
                <% bookId = chapter.comic_book_id %>
                <% book = ComicBook.find_by(id: bookId) %>
                <%= book.title %>
               </div>
              <%= chapter.title.upcase %>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
    <div class = "heading-row">
      <div class = "column">
        <h1 class = "main-side">COMICS </h1>
          <p> the newest comics</p>
      </div>
      <div class = "column">

      </div>

      <div class = "column">

    </div>
  </div>
  <div class = "comics">

    <div class ="row">
      <div class = "column">
        <% @comics.each do |comic| %>
          <div class = "comic-tile">
            <%= image_tag comic.comiccover.url(:medium) %>
            <div class = "comic-title">
                <%= comic.title.upcase %>
            </div>
          </div>
          <% end %>
      </div>
      <div class = "column">
        <% @comics2.each do |comic| %>
        <div class = "comic-tile">
          <%= image_tag comic.comiccover.url(:medium) %>
            <div class = "comic-title">
              <%= comic.title.upcase %>
            </div>
        </div>
        <% end %>
      </div>
      <div class = "column">
        <% @comics3.each do |comic| %>
        <div class = "comic-tile">
          <%= image_tag comic.comiccover.url(:medium) %>
            <div class = "comic-title">
              <%= comic.title.upcase %>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
