</br>
<%= form_for @comic_chapter, html: { multipart: true} do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %></br>

  <%= f.label :number %>
  <%= f.text_field :number %></br>

  <%= f.label :comic_book_id %><span> id </span>
  <%= f.text_field :comic_book_id %></br>

  <%= f.label :cover %>
  <%= f.file_field :chaptercover %></br>

  <%= f.submit %>

<% end %>
