</br>
<%= form_for @comic_chapter, html: { multipart: true} do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %></br>

  <%= f.label :number %>
  <%= f.text_field :number %></br>

  <%= f.label :comic_book_title %><span> id </span>
  <%= f.collection_select :comic_book_id, @comics, :id, :title, include_blank: true %> </br>

  <%= f.label :cover %>
  <%= f.file_field :chaptercover %></br>

  <%= f.submit %>

<% end %>
