</br>
<h1> Wszystkie arty </h1> </br>
</br>
<%= render 'art_form' %>
</br>
<% @arts.each do |art| %>
  <%= art.id %>
  <%= image_tag art.imageart.url(:thumb) %>
  <%= art.name %>
  <%= art.tag1 %>
  <%= art.tag2 %>
  <%= art.tag3 %>
  <%= link_to 'Edit', edit_art_path(art) %>
  <%= link_to 'Show', art_path(art) %>
  <%= link_to 'Delete', art_path(art), method: :delete %>
  </br>
<% end %>
