<div class = "admin-menu">
  <span> ADMIN PANEL </span>
  <%= link_to "DAY RITUAL", root_path %>
  <%= link_to 'all arts', arts_path  %>
  <%= link_to 'new art', new_art_path %>
  <%= link_to 'all chapters', comic_chapters_path %>
  <%= link_to 'new chapter', new_comic_chapter_path %>
  <%= link_to 'all comics',  comic_books_path %>
  <%= link_to 'new comic', new_comic_book_path %>
  <%= link_to 'all pages', comic_pages_path %>
  <%= link_to 'new page' , new_comic_page_path %> </br>
</div>
