<div class = "admin-menu">
  <span> ADMIN PANEL :  </span>
  <%= link_to 'ALL ARTS . ', arts_path  %>
  <%= link_to 'NEW ART . ', new_art_path %>
  <%= link_to 'ALL CHAPTERS . ', comic_chapters_path %>
  <%= link_to 'NEW CHAPTER . ', new_comic_chapter_path %>
  <%= link_to 'ALL COMICS . ',  comic_books_path %>
  <%= link_to 'NEW COMIC . ', new_comic_book_path %>
  <%= link_to 'ALL PAGES . ', comic_pages_path %>
  <%= link_to 'NEW PAGE . ' , new_comic_page_path %> </br>
</div>
